<div class="section-header">
  <h1 class="section-header__title">{{ page.title }}</h1>
</div>

{% if page.content %}
  <div class="rte">
    {{ page.content }}
  </div>

  <hr>
{% endif %}

<form method="POST" action="">
  <input type="hidden" name="form" value="become-dealer" />

  {% comment %}
    get customer info
  {% endcomment %}
  {% if customer %}
    <input type="hidden" name="cust-id" value="{{ customer.id }}" />

    {% assign c-name = customer.name %}
    {% assign c-email = customer.email %}
    {% assign c-address = customer.default_address %}

    {% if c-address %}
      {% assign c-phone = c-address.phone %}
      {% assign c-city = c-address.city %}
      {% assign c-province = c-address.province_code %}
      {% capture c-city-province %}{{ c-city }}, {{ c-province }}{% endcapture %}
    {% endif %}
  {% endif %}

  {% assign handle = 'contact.form.name' | t | handle %}
  {% assign label = 'contact.form.name' | t %}
  <label for="DealerFormName" class="label--hidden">{{ label }}</label>
  <input type="text" id="DealerFormName" name="{{ handle }}" placeholder="{{ label }}" autocapitalize="words" value="{{ c-name }}" />

  {% assign handle = 'contact.form.email' | t | handle %}
  {% assign label = 'contact.form.email' | t %}
  <label for="DealerFormEmail" class="label--hidden">{{ label }}</label>
  <input type="email" id="DealerFormEmail" name="{{ handle }}" placeholder="{{ label }}" autocorrect="off" autocapitalize="off" value="{{ c-email }}" />

  {% assign handle = 'contact.form.phone' | t | handle %}
  {% assign label = 'contact.form.phone' | t %}
  <label for="DealerFormPhone" class="label--hidden">{{ label }}</label>
  <input type="tel" id="DealerFormPhone" name="{{ handle }}" placeholder="{{ label }}" pattern="[0-9\-]*" value="{{ c-phone }}" />

  {% assign handle = 'city-province' %}
  {% assign label = 'City, Province' %}
  <label for="DealerFormCityProvince" class="label--hidden">{{ label }}</label>
  <input type="text" id="DealerFormCityProvince" name="{{ handle }}" placeholder="{{ label }}" value="{{ c-city-province }}" />

  {% assign label = 'contact.form.send' | t %}
  <input type="submit" class="btn right" value="{{ label }}" />
</form>
